[submodule "frida-rust"]
	path = tracer/frida-rust
	url = https://github.com/Mrack/frida-rust.git
[submodule "tracer/frida-rust"]
	path = tracer/frida-rust
	url = https://github.com/Mrack/frida-rust.git
